<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
  <script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.24.0/locale/zh-cn.js"></script>
  <script>
    console.log(`%c查看帮助:  help()`, 'color: #ddd;')
    var vConsole = new VConsole() // 初始化 vconsole
    moment.locale('zh-cn') // 设置moment语言
    let socket, connected
    // 加入房间函数
    function j (roomId, name) {
      join(roomId, name)
    }
    function join (roomId, name) {
      socket = io(window.location.origin ,{
        query:{
          room: roomId,
          username: name
        }
      })
      socket.on('connect', () => {
        // 请求历史信息
        socket.emit('old message', 'need old')
        // 获取历史信息
        socket.on('old message', msg => {
          msg.map((v,i) => {
            let value = JSON.parse(v)
            console.log(`${value.user}: ${value.data.message}  ---  ${moment(value.date).fromNow()}`)
          })
        })
        connected = true

        // 当前系统用户进入与退出的信息
        socket.on('online', msg => {
          console.log(`系统通知: ${msg}`)
        })
        
        // 获取信息
        socket.on('new message', msg => {
          const { data, user } = msg
          console.log(`${user}: ${data.message}  ---  ${moment().fromNow()}`)
        })
        socket.on('all user', msg => {
          console.log('当前在线用户数: ', msg.usernum)
        })
        socket.on('disconnect', msg => {
          console.log('断开连接')
        });
      })
    }
    // 发送消息
    function s (msg) {
      send(msg)
    }
    function send (msg) {
      if (!socket) {
        console.log('请先加入房间')
        return
      }
      if(connected) {
        socket.emit('new message', {
          message: msg,
          time: new Date().getTime()
        })
      }
    }
    // 退出房间
    function l () {
      leave()
    }
    function leave () {
      if (!socket) {
        console.log('请先加入房间')
        return
      }
      socket.close()
    }
    // 帮助信息
    function help () {
      console.log('=========== ZZES Chat =============')
      console.log(`进入房间:  %cjoin('房间名', '昵称') 或者 j('房间名', '昵称')`, 'color: white; background-color: black;padding: 2px')
      console.log(`发送消息:  %csend('信息') 或者 s('信息')`, 'color: white; background-color: black;padding: 2px')
      console.log(`退出房间:  %cleave() 或者 l()`, 'color: white; background-color: black;padding: 2px')
      console.log(`清除屏幕:  %cclear()`, 'color: white; background-color: black;padding: 2px')
      console.log(`查看帮助:  %chelp()`, 'color: white; background-color: black;padding: 2px')
      console.log('===================================')
    }
  </script>
</body>
</html>